---
name: add-treks
url: /add-treks
---

<div class="grid-block">
<div class="grid-content">
  <h1>Add a trek!</h1>
  <hr>
  <p>If you don't see your favorite or newest craft brewery or distillery, please add it!</p>

  <form>
  <input type="text" placeholder="TrekName">
  <input type="text" placeholder="Location">
  <textarea rows="6" placeholder="Description"></textarea>
  <p>
    <a ui-sref="home" class="medium button success" zf-open="trek-notify"><img zf-iconic="" icon="circle-check" size="small"> Add New Trek</a>
  </p>
</form>
 </div>
</div>
