---
name: home
url: /
animationIn: fadeIn
---

<div class="grid-block main-search align-center">
<div class="grid-content medium-10">
  <h1>Find some beer!</h1>

  <p class="lead">Explore all the beer.</strong>.</p>

  <span class="inline-label">
  	<input type="search" placeholder="find beer">
  	<a href="#" ui-sref="results" class="button"><img zf-iconic="" icon="magnifying-glass" size="small"></a>
  	</span>

  </div>
  
</div>


<div class="grid-block">
	
	<div class="grid-content large-6">
		<h3>Add &amp; share treks</h3>

			<p>Cliche mumblecore sartorial wolf mustache, try-hard Vice gentrify organic kogi. Trust fund squid stumptown iPhone, +1 lo-fi kale chips cronut narwhal chambray Intelligentsia. Pinterest normcore iPhone meditation. Mlkshk pop-up health goth, chia Bushwick retro fanny pack Intelligentsia. Locavore blog fanny pack, gentrify quinoa jean shorts wayfarers slow-carb. Fap put a bird on it flexitarian single-origin coffee, meditation normcore try-hard pork belly seitan Schlitz vegan vinyl. Freegan XOXO deep v sartorial./p>

	</div>

	<div class="grid-content large-6">

		<h3>Discover great beers!</h3>
		<p>Wes Anderson leggings heirloom, Brooklyn plaid wayfarers Kickstarter Austin meggings lumbersexual. Salvia biodiesel pickled, tousled trust fund Echo Park Carles heirloom direct trade pug. High Life actually Truffaut plaid jean shorts lo-fi. Skateboard hashtag Williamsburg blog YOLO, Bushwick messenger bag American Apparel gluten-free Tumblr roof party semiotics. Leggings you probably haven't heard of them fap asymmetrical, Marfa listicle art party crucifix street art Vice church-key Blue Bottle. Seitan selvage ennui, deep v Pitchfork cred church-key Williamsburg Banksy Intelligentsia Thundercats. Blog slow-carb yr kale chips jean shorts Shoreditch.</p>
	</div>


</div>

<div class="grid-block">
	
<div class="grid-content">
	
	<hr>
	<h4>Featured Treks</h4>
	<p>PBR&B twee mixtape, try-hard kogi Tumblr master cleanse cliche YOLO XOXO 3 wolf moon. Narwhal small batch 3 wolf moon trust fund viral. Photo booth gentrify gluten-free literally jean shorts, banh mi plaid craft beer try-hard Marfa PBR crucifix lumbersexual biodiesel Williamsburg. Heirloom drinking vinegar ethical Wes Anderson, lomo deep v shabby chic. Fanny pack sustainable banh mi Pitchfork actually, narwhal PBR&B. Cardigan aesthetic tattooed, leggings before they sold out stumptown beard mumblecore vinyl Odd Future. Flannel McSweeney's hella, bespoke fanny pack hashtag cold-pressed church-key farm-to-table.</p>
	<p><a ui-sref="featured" class="button">View the latest treks!</a></p>
</div>
</div>



  <!--featured treks view -->
  <div ui-view></div>
